/* dropdown box stuff */

.multiSelect {
  position: relative;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dropCheck {
  display: none;
  border: 1px #dadada solid;
  padding: 5px;
}

.dropCheck label {
  display: flex;
  margin-bottom: 10px;
}

.dropCheck label:last-child {
  margin-bottom: 0px;
}

.dropCheck label input {
  margin-right: 10px;
}