label {
  margin-bottom: 0px;
}

.feature_boxes {
    display: flex;
    flex-direction: column;
}
  
.feature_boxes, .partFeat, .listStat, .listStat div {
    border:         1px solid black;
    padding:        10px; 
    margin-bottom:  10px;
}

.feature_boxes div:last-child {
  margin-bottom: 0px;
}

#submitButtonDiv {
  padding:10px;
}

#submitButton {
  font-size: 14pt;
  background-color: rgb(193, 215, 255);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
}

#submitButton:hover {
  filter: brightness(120%);
  box-shadow: 7px 7px 7px #000;
}

#submitButton:active {
  box-shadow: inset 2px 2px 10px #000;
}

#participantTableMessage {
  margin: 10px;
}

.desc h4 {
  text-align: justify;
}

.desc h4 ul {
  width: 90%;
}

h4 {
  font-weight: normal;
}