.feature_boxes {
    display: flex;
    flex-direction: column;
    width: 90%;
}
  
.feature_boxes, .partFeat, .listStat, .listStat div {
    border:         1px solid black;
    padding:        10px; 
    margin-bottom:  10px;
}

.feature_boxes div:last-child {
  margin-bottom: 0px;
}

#submitButtonDiv {
  padding:10px;
}

#submitButton {
  font-size: 14pt;
  background-color: yellowgreen;
}

#participantTableMessage {
  margin: 10px;
}

.desc h4, .desc h4 ul {
  width: 90%;
  text-align: justify;
}

h4 {
  font-weight: normal;
}