.listStat {
    display:        flex;  
    flex-direction: row;
    align-items:    stretch;
}

.listStat div:not(.listStatBoxes) {
  margin-right: 10px;
  margin-bottom: 0px;
}

#Measurement, #Landmark {
  flex: 1;
  height: 160px;
  overflow-y: auto;
  overflow-x: hidden;
}

#statsCheckbox {
  flex-grow: 1;
}

#measurementBox, #landmarkBox {
  height: fit-content;
  flex-grow: 1;
}