.listStat {
  display: flex;  
  flex-direction: row;
  align-items: stretch;
}

#Measurement div, #Landmark div {
  margin-bottom: 0px;
  border: none;
}

#MeasurementBox {
  margin-right: 10px;
}

#Measurement div, #Landmark div {
  display: flex;
  padding: 0px;
}

#Measurement label, #Landmark label {
  padding-left: 10px;
  margin-bottom: 10px;
}
  
#Measurement, #Landmark {
  flex: 1;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#measurementBox, #landmarkBox {
  height: fit-content;
  flex-grow: 1;
}

#statsChoices {
  border:         1px solid black;
  padding:        10px;
  margin-bottom:  0px;
}

#statsCheckboxes {
  display:        flex;
  flex-direction: row;
}

#statsCheckboxes div {
  display: flex;
  flex-grow: 1;
}

#statsCheckboxes label {
  padding-left: 10px;
}

