#output {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#statsOutput {
  height:         300px;
  width:          90%;
  margin-bottom:  10px;
}

#participantOutput {
  height: 420px;
  width:  90%;
  margin-bottom: 10px;
}

#chartFeatureChoices, #participantChartStyleChoices, #statsChartChoices {
  border:   1px solid black;
  width:    fit-content;
  padding:  5px;
  margin:   10px;
}

#chartFeatureChoices label:not(:last-child), #participantChartStyleChoices label:not(:last-child), #statsChartChoices label:not(:last-child) {
  padding-right: 15px;
}

#statsChartOutput {
  width: 90%;
}