.partFeat {
  display: flex;
  justify-content: space-between;
}

.partFeat form {
  padding-right: 10px;
  flex-grow: 1;
}

.partFeat form select, #ageStart, #ageEnd {
  width: 100%;
}

/* .dropCheck label input {
  width: auto;
} */

.partFeat form {
  width: min-content;
}